@media  (min-width:320px) and (max-width:575px) {

    /* Header Area Start */
    .main__menu .navbar {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .login__btn{
        flex-direction: column;
        align-items:flex-start;
        margin-left: 0;
    }
    .sign__in-btn{
        padding-left: 0;
        margin-bottom: 10px;
    }
    /* Header Area End */ 

}
@media (min-width:576px) and (max-width:767px) {

      /* Header Area Start */
    .main__menu .navbar {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .login__btn{
        flex-direction: column;
        align-items:flex-start;
        margin-left: 0;
    }
    .sign__in-btn{
        padding-left: 0;
        margin-bottom: 10px;
    }
    /* Header Area End */ 

}
@media (min-width:768px) and (max-width:991px) {

    /* Header Area Start */
    .main__menu .navbar {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .login__btn{
        flex-direction: column;
        align-items:flex-start;
        margin-left: 0;
    }
    .sign__in-btn{
        padding-left: 0;
        margin-bottom: 10px;
    }
    /* Header Area End */ 

}
@media (min-width:992px) and (max-width:1199px) {

    /* Header Area Start */
    .main__menu-items ul li:not(:last-child){
        margin-right: 28px;
    }
    .login__btn{
        margin-left: 48px;
    }
    /* Header Area End */

}
@media (min-width: 1200px) and (max-width: 1399px) {

    /* Header Area Start */
    .main__menu-items ul li:not(:last-child){
        margin-right: 28px;
    }
    .login__btn{
        margin-left: 64px;
    }
    /* Header Area End */

}
@media (min-width:1440px) and (max-width:1599px) {}
@media (min-width:1600px) and (max-width:1799px) {}
@media (min-width:1800px) {}